<app-header></app-header>

<div class="container">
  <section class="latest-episodes">
    <!-- <h2>🎙️ Featured Episode</h2> -->

    @if (featuredEpisode) {
      <app-episode-card
        [episode]="featuredEpisode"
        [currentlyPlayingId]="currentlyPlayingId"
        (requestPlay)="onRequestPlay($event)"
        [isFeatured]="true"
      />
    }

    <!-- <h2>📻 Latest Episodes</h2> -->

    <div class="episode-grid">
      @for (episode of visibleEpisodes; track episode.id) {
        <app-episode-card
          [episode]="episode"
          [currentlyPlayingId]="currentlyPlayingId"
          (requestPlay)="onRequestPlay($event)"
        />
      }
    </div>

    @if (!showAll) {
      <div class="see-more">
        <button (click)="seeMore()">See More Episodes</button>
      </div>
    }
  </section>
</div>
