<h1>Teams</h1>
<button (click)="showModal()" class="primary-btn" [ngStyle]="{ marginTop: '16px' }">
  Add Team Member
</button>
@if (openModal) {
  <app-create-team-modal [teamMember]="selectedTeamMember" (close)="onModalClose()" />
}
<div class="episodes-table-container">
  <table class="episodes-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Bio</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (teamMember of teamMembers$ | async; track teamMember.id) {
        <tr>
          <td>{{ teamMember?.name }}</td>
          <td>{{ teamMember?.role }}</td>
          <td>{{ teamMember?.bio }}</td>
          <td>
            <button (click)="openEditModal(teamMember)" class="warning-btn">Edit</button>
          </td>
          <td>
            <button class="danger-btn" (click)="deleteMember(teamMember.id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
