@font-face {
  font-family: 'Inter';
  src: url(../../public/fonts/inter/Inter-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url(../../public/fonts/notoSerif/NotoSerif-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url(../../public/fonts/sourceCodePro/SourceCodePro-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
