<h1>Episodes</h1>

<div class="episodes-table-container">
  <table class="episodes-table">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Episode</th>
        <th>Season</th>
        <th>Posted On</th>
      </tr>
    </thead>
    <tbody>
      @for (episode of episodes$ | async; track episode.id) {
        <tr>
          <td>
            <img
              [src]="episode.img_url"
              [ngStyle]="{ width: '24px', height: '24px', borderRadius: '100%' }"
            />
          </td>
          <td>{{ episode?.title }}</td>
          <td>{{ episode?.episode }}</td>
          <td>{{ episode?.season }}</td>
          <td>{{ episode?.posted_on | date: 'MMM d, y' }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
