@use './styles/variables' as *;
@use './styles/fonts' as *;
@use './styles/mixins' as *;
@use './styles/components/input' as *;
@use './styles/components/button' as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
  font-size: 16px;
  @include theme-transition();
}
