@use './styles/variables' as *;
@use './styles/fonts' as *;
@use './styles/mixins' as *;
@use './styles/components/input' as *;
@use './styles/components/button' as *;
@use './styles/components/toastr-types' as *;
@use './styles/components/table' as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 1.6;
  scrollbar-width: thin;
  @include theme-transition();
}

p {
  margin: 0;
}
button {
  font-family: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
// Utility classes
.container {
  @include container;
}

.toast-success {
  background-color: var(--color-success);
}
.toast-error {
  background-color: var(--color-danger);
}
